@{
    ViewBag.Title = "Quotes about life and learning";
}

@ViewBag.Quote

<div class="jumbotron">
    <h1>Quotation Base</h1>
    <p class="lead">One of the smallest quotations databases ever, all found here.</p>
    <p><a href="This/Index" class="btn btn-primary btn-lg">Start searching &raquo;</a></p>
</div>

